{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
    <a href="http://127.0.0.1:8000/" target="_blank">
        <button class="boton_1">Home</button>
    </a>
    <a href="http://127.0.0.1:8000/admin" target="_blank">
        <button class="boton_2">Admin</button>
    </a>
    <a href="http://127.0.0.1:8000/primera_app" target="_blank">
        <button class="boton_3">primera_app</button>
    </a>
</body>
</html>